
VITE_SUPABASE_URL=https://ranhfnjyqwuoiarosxrk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhbmhmbmp5cXd1b2lhcm9zeHJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjcyMDEsImV4cCI6MjA4MTc0MzIwMX0.gny4S6S69HszKjqFtiOmOLa0eJxyVVEumYxWOWbrek8
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhbmhmbmp5cXd1b2lhcm9zeHJrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjE2NzIwMSwiZXhwIjoyMDgxNzQzMjAxfQ.CLLUvsVP9CH6TigzKqlyGX2CD1VagPwp75C_k-AazGg